.book-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 676px;
    height: 217px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--dark);

}

.image-section {
    border-radius: 4px;
    position: relative;
    width: 132px;
    height: 177px;
    object-fit: cover;
    overflow: clip;
}

.image-section > img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 8px;
    padding: 4px 6px;
    background-color: rgba(11, 20, 24, 60%);
    border: 1px solid rgba(247, 259, 250, 16%);
    border-radius: 6px;
    color: white;
    backdrop-filter: blur(14px);
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
}

.language {
    position: absolute;
    bottom: 9px;
    left: 12px;
    padding: 2px 8px;
    background-color: var(--dark);
    border-radius: 4px;
    border: 1px solid #696969;
    color: white;
    font-size: 12px;
    font-weight: 500;
}

.info-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.info-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 9px;

}

.price-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 11px;
}

.before-discount {
    font-size: 11px;
    color: var(--secondary-low);
    text-decoration: line-through;
    text-decoration-color: rgba(220, 45, 45, 0.8);
}

.after-discount {
    font-size: 15px;
    font-weight: bold;
    color: var(--green);
}

.middle{
    display: flex;
    align-items: center;
    gap: 12px;
}
.bottom{
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bottom button{
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px 34px;
    font-size: 16px;
    font-weight: 500;
    gap: 10px;
    border: none;
    outline: none;

    /*&:hover{cursor: pointer;}*/

    &:active{
        transform: scale(95%);
    }

}

