.image-section {
    border-radius: 4px;
    position: relative;
    object-fit: cover;
    overflow: clip;
}

.image-section > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 8px;
    padding: 4px 6px;
    background-color: rgba(11, 20, 24, 60%);
    border: 1px solid rgba(247, 259, 250, 16%);
    border-radius: 6px;
    color: white;
    backdrop-filter: blur(14px);
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
}

.language {
    position: absolute;
    bottom: 9px;
    left: 12px;
    padding: 2px 8px;
    background-color: var(--dark);
    border-radius: 4px;
    border: 1px solid #696969;
    color: white;
    font-size: 12px;
    font-weight: 500;
}